/* SETUP */
@import url('setup/typography.css');

/* BASICS */
@import url('basics/base.css');
@import url('basics/helpers.css');
@import url('basics/layout.css');

/* COMPONENTS */
@import url('components/header.css');
@import url('components/gallery-controls.css');
@import url('components/image-gallery.css');
@import url('components/saved-memes.css');
@import url('components/meme-editor.css');
@import url('components/toast.css');

/* MEDIA QUERIES */
@import url('setup/mq.css');