/* Main Layout */
.main-layout {
    padding-inline: 20px;
}

/* Page Structure */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

header {
    background-color: #343a40;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    padding-block: 10px;
}

main {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 0;
    margin-block: 0;
}

footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px 0;
}