/* Main Layout */
.main-layout {
    padding-inline: 20px;
}

/* Page Structure */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    overflow: hidden;
}

header {
    background-color: #343a40;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    padding-block: 10px;
    flex-shrink: 0;
}

main {
    flex: 1 1 0;
    overflow-y: auto;
    padding: 15px 0 15px 0;
}

footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 20px 0;
    flex-shrink: 0;
}