/* Header Navigation */
.nav-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 1.5rem;
}

.main-nav ul {
    display: flex;
    gap: 15px;
}

.main-nav a {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    padding: 10px 5px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #007bff;
}