/* TABLET --- */
@media (min-width: 768px) {
    .meme-editor {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: stretch;
        justify-content: center;
    }

    .canvas-container {
        max-width: 500px;
        margin-inline: auto;
    }

    .meme-editor .canvas-container,
    .meme-editor .controls {
        max-width: 500px;
        max-height: 500px;
    }

    .meme-editor .controls {
        height: 100%;
        min-height: 0;
        overflow-y: auto;
    }

    .controls .control-group {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .controls .style-controls {
        grid-template-columns: minmax(120px, 1fr) minmax(160px, 2fr);
    }

}

/* DESKTOP --- */
@media (min-width: 992px) {

    /* --- תיקון יישור Header --- */

    /* 1. נגדיר את פריסת הגריד רק עבור MAIN ו-FOOTER */
    main.main-layout,
    footer .main-layout {
        /* סלקטור מתוקן ל-div בתוך ה-footer */
        display: grid;
        grid-template-columns: minmax(10px, 1fr) minmax(auto, 1320px) minmax(10px, 1fr);
        padding-inline: 0;
    }

    main.main-layout>*,
    footer .main-layout>* {
        /* סלקטור מתוקן ל-div בתוך ה-footer */
        grid-column: 2;
    }

    /* 2. עבור ה-HEADER, נגביל את הרוחב שלו ונמרכז אותו */
    /* זה ישמור על ה-display:flex שלו מ-header.css */
    .main-header .main-layout {
        max-width: 1320px;
        /* נגביל את הרוחב כמו ה-grid */
        margin-inline: auto;
        /* נמרכז אותו */
        padding-inline: 0;
        /* נבטל את הפדינג של המובייל */
    }
}

/* grayscale effect for pc only */
@media (hover: hover) {
    .image-gallery img {
        filter: grayscale(1);
        transition: transform 0.3s, filter 0.3s;
    }

    .image-gallery img:hover {
        filter: grayscale(0);
    }
}